# ─────────────────────────────────────────────
#  War of Tanks – configuració d'entorn
# ─────────────────────────────────────────────

# ROLE: "server" per al servidor de joc
#       "client" per a cada jugador
ROLE=client

# SERVER_IP: IP de la màquina que executa el servidor
# Només és necessari quan ROLE=client
SERVER_IP=192.168.1.100

# Ports (no cal canviar-los normalment)
UDP_PORT=8888
HTTP_PORT=8080
